*{
    margin: 0px;
    padding: 0px;
}
.container{
    border: 2px solid mediumspringgreen;
    display: flex;
    /* width: 100%; */
}
/* for navbar  */
#navbar{
    background-color:  #3b5998;
    display: flex;
    width: 100%; 
    border: 1px solid red;
    
}

#navbar .one label{
    display: block;
    color:white;
}
.one{
    /* margin: 0px 10px 0px 10px ; */
    padding: 5px 10px;
}
#navbar .left{
   
    display:flex;
    justify-content:space-around;
    border: 2px solid mediumvioletred;
    flex-grow: 7;
    justify-content: right;
    padding-top: 21px;
    
}

#brand{
    
    font-family: Arial;
    list-style: none;
    font-size: 60px;
    color: white;
    /* border: 1px solid red; */
    flex-grow: 3;
    /* margin-left: 25px; */
    padding: 10px;
    
}

/* for button */
#navbar #login-btn{
    
    /* margin: 20px ; */
    margin-top: 16px;
    margin-bottom: 25px;
    margin-right: 12px;
    background-color: #3b5998;
    color: white;
}


/* down Divs area  */

.container-second{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;

}
.first-div{
    width: 60%;
    height: 900px;
    /* display: fixed; */
    background: linear-gradient(1deg, #D7DBE9, #FEFEFE);
    /* position: absolute */
    border: 1px solid magenta;
}
.first-div img{
    /* padding: 5px 0px 0px 10px  ; */
    width: 100%;
    /* border: 1px solid magenta; */
}

.down-div{
    width: 40%;
    /* height: 900px; */
    border: 2px solid #3b5998;
    padding: 14px 0px 0px 5px;
    background: linear-gradient(1deg, #D7DBE9, #FEFEFE);
}
.down-div h1,p {
    font-family: sans-serif;
    height: 50px;
    /* margin-top: 10px; */
    padding: 20px 0px;
}
/* .input-name{
    padding:10px 0px;
} */


.input-name input{
    font-size: 20px;
    padding: 6px 7px;
    width: 46%;
}

.input-2{
    /* margin-top: 10px; */
    /* width: 80%; */
    padding: 10px 0px;
    
    

}
.input-2 input{
    
    padding:10px 0px;
    font-size: 20px;
    width: 97%;
    
    
}
input[type="email" ] {
    /* padding: 1px 2px; */
    /* width: 665px; */
    /* padding: 10px; */
}
.input-2 #inp{
    margin-top: 10px;
   
}
.birthday{
    /* height: 70% */
    margin-top: 25px;
    padding-top: 7px;
}
.birthday .date-1 {
    /* height: 10px; */
    margin-bottom: 14px;
    /* margin-bottom: 2px; */

}
.birthday .date-1 input{
    padding: 4px 6px;

}

.last-paragraph{
    padding: 30px 0px;
}
.last-paragraph a {
    text-decoration: none;
}

.sign-up{
    padding: 10px 40px;
    background-color: rgb(92, 167, 92);
    color: white;
    border-radius: 9px;
}


/* @media(max-width:690px){
    .container .navbar{
        display: flex;
        flex-direction: row;
    }
} */





@media  screen and (max-width:692px) {
   /* .container{
     
   } */
   #brand{
       text-align: center;
   }
    #navbar{
        
        display: flex;
        flex-direction: column;
        
        
    }
    .container-second{
        display: flex;
        flex-direction: column;
    }

   
    
}

@media screen and (max-width:1142px) {
    .first-div{
        width:50%;
        height: 400px;
    }
    .down-div{
        width: 50%;
    }
    
    #navbar .left {
        display: flex;
        justify-content: left;
    }
    .first-div {
        width: 100%;
       
    }
    .first-div img{
        
    }
}





